body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
    margin-right: 2%;
    margin-left: 2%; 
    
    position: relative;
    top:50px;
    margin-top: 2px;
    /* background-color: white;   */
    background-color: #f7f7f8;  
}

.type-select {
  color: #9147ff;
  border-bottom: 2px solid #9147ff;
}


.button {
  border-radius: 5px;
  padding: 5px;
}

.button-primary {
  background-color: #9147ff;
  color: white
}

.button-secondary {
  background-color: grey;
  color: black;
}