@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@font-face {
  font-family: "8-bit";
  src: url("/fonts/8-bit.ttf");
}

:root {
  --main-bg-color: #f7f7f8;
  --primary-color: #9147ff;
  --nav-link-color: #0e0e10;
  --primary-color-active: #772ce8;
  --secondary-color: rgba(0,0,0,0.1);
  --secondary-color-active: rgba(0,0,0,0.15);
}

html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);;  
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-top: 50px;
  margin: 0;
  color: #222222;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 5.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

p {
  margin: 1.2rem 0;
}

/* ---------- LAYOUT ---------- */
.container {
  width: 94%;
  margin: 0 auto;
}

/* ---------- COMPONENTS ---------- */
.nav-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 0px 2px rgba(0,0,0,0.1);
  color: var(--nav-link-color);
}

.nav-header .left-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-header .left-header-links {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-header .left-header-links > div {
  padding: 0 1rem;
  height: 100%;
}

.nav-header .left-header-links > div a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-header .right-header {
  display: flex;
  align-items: center;
}

.nav-link-active a {
  color: var(--primary-color-active);
  border-top: 2px solid #fff;
  border-bottom: 2px solid var(--primary-color-active);
}

.nav-logo {
  margin-right: 1rem;
}

.nav-name-tag {
  margin-right: 1rem;
}

.button {
  border-radius: 4px;
  height: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px;
  white-space: nowrap;
  border: none;
  vertical-align: middle;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary-color);
  color: white
}

.button-primary:hover {
  background-color: var(--primary-color-active);
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--nav-link-color);
}

.button-secondary:hover {
  background-color: var(--secondary-color-active);
}

.game-types {
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  font-weight: 400;
}

.game-name {
  padding-bottom: 16px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 1.3em;
  cursor: pointer;
}

.type-select {
  color: var(--primary-color-active);
  border-bottom: 2px solid var(--primary-color-active);
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.tile {
  border-radius: 6px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 0px 2px rgba(0,0,0,0.1);
}

.tile-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
}

.tile p {
  font-size: 1.4rem;
}

.tile-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.new-games {
  display: flex;
  flex-wrap: wrap;
}

.new-game {
  cursor: pointer;
} 

.new-game > img {
  width: 250px;
}

.new-game > p {
  font-weight: 500;
  font-size: 1.8rem;
}

.new-game:hover > p {
  color: var(--primary-color-active);
}

.emoji {
  font-size: 1.5em;
}

#button-random-game {
  display: flex;
  align-items: center;
}

.tile-container-leaderbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
  font-weight: 400;
}

.table-leaderbox {
  border-collapse: collapse;
}

.table-leaderbox tr {
  height: 2.9rem;
}

.table-leaderbox th {
  font-weight: 500;
  color: #666666;
}

.tb-header th {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.table-leaderbox tbody tr:first-child {
  color: var(--primary-color);
  font-weight: 500;
}

.tile-leaderboard {
  border-radius: 6px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 0px 2px rgba(0,0,0,0.1);
  margin: 2rem;
}

.tile-leaderboard-header {
  text-align: center;
  margin: 0 0 1.4rem 0;
  font-size: 2.1rem;
}

.leaderboard-col-1 {
  min-width: 6rem;
  text-align: left;
}

.leaderboard-col-2 {
  min-width: 14rem;
  text-align: left;
}

.leaderboard-col-3 {
  min-width: 5rem;
  text-align: center;
}

td.leaderboard-col-1 {
  color: #666666;
  font-size: 1.4rem;
}

.table-leaderbox tbody tr:first-child td.leaderboard-col-1 {
  color: var(--primary-color);
  font-weight: 500;
}

.table-archives {
  border-collapse: collapse;
}

.table-archives tr {
  height: 2.9rem;
}

.table-archives th {
  font-weight: 500;
  color: #666666;
}

.archives-col-1 {
  min-width: 12rem;
  text-align: left;
  color: #666666;
}

.archives-col-2 {
  min-width: 20rem;
  text-align: left;
  padding: 0 1rem;
}

.archives-col-3 {
  min-width: 5rem;
  text-align: center;
  font-weight: 500;
}

.archives_result__WIN {
  color: #05C46B;
}

.archives_result__LOSS {
  color: #FF5E57;
}

.archives_result__DRAW {
  color: #FFA801;
}

/* ---------- UTILITIES ---------- */

.hidden {
  display: none;
}

.mr-1 {
  margin-right: 1rem;
}

.brand-color {
  color: var(--primary-color);
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}