.login-container {
    width: 350px;
    height: 260px;

    margin-top: 10%;
    margin-left: 35%;
    border-radius: 5px;
    background-color: white;
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.login-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid rgb(211, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

.text-input {
    height: 20px;     
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label-align {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
}

.button-login {
    margin-top: 10px;
    width: 100%
}