nav.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    background-color: white!important;

    border-bottom: 2px solid gray;
}

div.left-header {
    width: 45%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #9147ff;
    margin-left: 2%;
}


div.right-header {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
    align-items: center;

    color: #9147ff;
    margin-right: 2%;
}

a.no-underline {
    text-decoration : none;
}

p.name-tag {
    font-weight: 800px;    
    margin-right: 20px;
}
