.game-types {
  display: flex;
  justify-content: flex-start;
}

.game-name {
  padding-bottom: 20px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 1.3em;
}

.type-select {
  color: #9147ff;
  border-bottom: 2px solid #9147ff;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;  
}

.tile {
  border-radius: 10px;
  border: solid 1px gray;
  margin-top: 15px;
  margin-right: 24px;
  margin-bottom: 15px;  
  background-color: white;

  padding: 10px;
  padding-top: 0px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /* vertical-align: center; */
}

.tile-title {
  font-weight: 700;
  margin-bottom: 0px;
}

.tile-container-leaderbox {
  display: flex;
  justify-content: space-between; 
  padding-left: 20%;
  padding-right: 20%;
}

.tile-leaderboard {
  width: 40%;
  height: 80%;

  border-radius: 10px;
  border: solid 10px goldenrod;
  margin-top: 15px;
  margin-right: 24px;
  margin-bottom: 15px;  
  background-color: white;

  padding: 10px;
  padding-top: 0px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.tile-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}

.button-primary {
  background-color: #9147ff;
  color: white
}

.button-secondary {
  background-color: grey;
  color: black;
}

.hidden {
  display: none;
}

