<nav class='nav-header'>

  <div class='left-header'>
    <div>Logo</div>
    <div><a href="/games/new" class='no-underline'>Start Game</a></div>
    <div><a href="/games" class='no-underline'>Join Game</a></div>
    <div><a href="/room" class='no-underline'>My Games</a></div>
    <div><a href="/leaderboard" class='no-underline'>Leaderboard</a></div>
    <div><a href="/archives/<%= accountName %>" class='no-underline'>Archives</a></div>
  </div>

  <div class='right-header'>      
   
    <% if(!accountName) { %>

      <form id="login-form" name="account" action="/login" method="GET">
          <input type="submit" id='account' class='button button-primary' value='Login'>
      </form>

    <% } else { %>
      
      <p class='name-tag'> <%= accountName %> </p>

      <form id="login-form" name="account" action="/logout" method="POST">
        <div class='login-in'>          
          <input type="submit" id='account' class='button button-primary' value='Logout'>
        </div>
      </form>

    <% } %>

  </div>

</nav>
