<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Goofspiel</title>
  </head>
  <body>
    <h1>Goofspiel Game</h1>
    <button id='button'>Play</button>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      $(() => {
        $('#button').click(() => {
          socket.emit('play', '1234');
        });
        
        socket.on('playReturn', (msg) => {
          console.log('From server:', msg);
        });
      });
    </script>
  </body>
</html>