<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Games</title>  
</script>

</head>

<body>

    <h3>Login Account</h3>
    <form id="login-form" action="/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" required placeholder="Your Username">
        </div>

        <div>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" required placeholder="Your Password">
        </div>
        <button type="submit">Login</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</body>

</html>