<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" /> 
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />   
    <title>Card Games</title>  
</head>
<body>
    <% include ./partials/nav.ejs %> 

    <div class='login'>
      
    <h3>Sign up an Account</h3>   
      <form id="signup-form" action="/signup" method="POST">
      
          <div>
              <label for="username">Username:</label>
              <input  class='text-input' type="text" name="username" required placeholder="Your Username">
          </div>

          <div>
              <label for="password">password:</label>
              <input  class='text-input' type="password" name="password" required placeholder="Your Password">
          </div>

          <div class='button-align'> 
              <button class='button button-primary' type="submit">Sign up</button>
          </div>

      </form>
    </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>        
    
</body>
</html>